<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Matrimonial Site</title>
  <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
  <header>
    <h1>Perfect Pairs Marriage Bureau</h1>
    <nav>
      <a href="/">Home</a>
      <a href="register">Register</a>
      <a href="/login">Login</a>
    </nav>
  </header>