<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Matrimonial Site</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
    <header>
        <h1>Perfect Pairs Marriage Bureau</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/matches-request">View Match Request</a>
            <a href="/matches">View Matches</a>
            <a href="/messages">View Messages</a>
            <a href="/edit-my-profile">My profile</a>
            <a href="/logout">Logout</a>
        </nav>
    </header>