<%- include('partials/header.ejs') %>
  <section class="form-container">
    <h2>Register</h2>
    <form action="/register" method="POST">
      <input type="text" placeholder="Username" name="username" required>
      <input type="email" placeholder="Email" name="email" required>
      <input type="password" placeholder="Password" name="password" required>
      <button type="submit" class="submit-button">Register</button>
    </form>
  </section>

  <section>
    <h4>already a user? <a href="login">login</a></43>
  </section>
  <%- include('partials/footer.ejs') %>